flask
flask-cors
langchain
langchain-chroma
langchain-deepseek
langchain-openai
langchain-community
langchain-core
langchain-huggingface
openai
chromadb
duckdb
tiktoken
requests
webdriver_manager
playwright
playwright_stealth
pydantic
